---
import Layout from "../layouts/Layout.astro";
---

<Layout title="DevChaks | Quotes">
  <div class="pt-32 px-5 space-y-3">
    <h1 class="text-4xl font-bold">Quotes</h1>
    <p class="text-sm text-zinc-400">
      This is a collection of quotes that I&apos;ve stumbled upon the internet
      and in books and from the people I meet.
    </p>
    <p>I will add them in future.</p>
  </div>
</Layout>
