---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-zinc-300 max-w-xl mx-auto">
    <header
      class="text-sm text-zinc-400 absolute flex justify-center p-5 gap-3"
    >
      <a class="hover:text-zinc-200" href="/">About</a>|
      <a class="hover:text-zinc-200" href="/quotes">Quotes</a
      >
    </header>
    <slot />
    <footer
      class="absolute bottom-0 p-2 flex justify-between text-xs md:min-w-[32rem] min-w-full"
    >
      <span class="text-xs"
        >&copy; {new Date().getFullYear()} Chaks, Made with <a
          class="underline"
          href="https://docs.astro.build/en/getting-started/"
          rel="noopener"
          target="_blank">Astro</a
        > 🚀
      </span>
      <div class="text-zinc-400 space-x-1">
        <a
          class="underline hover:text-zinc-200"
          rel="noopener"
          href="https://github.com/Chakravarthy7102">Github</a
        >
        <a
          class="underline hover:text-zinc-200"
          href="https://twitter.com/Chakravarthi07"
          rel="noopener">Twitter</a
        >
      </div>
    </footer>
  </body>
  <style is:global>
    :root {
      --accent: 124, 58, 237;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        #da62c4 30%,
        white 60%
      );
    }

    @font-face {
      font-family: "CalSans";
      src: url("/fonts/CalSans-SemiBold.tff") format("tff");
    }

    * {
      font-family: "CalSans", "sans";
    }

    html {
      background-color: #000;
    }

    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
  </style>
</html>
